$color-nav:#fff;
$color-logo:#fff;

$color-navScroll:#111;
$color-logoScroll:rgb(47, 161, 37);
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin:0 auto;

    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 9999;

    transition: all 1.2s;
    &__close{
        display: none;
    }
    &__logo{
        .blind{
            color:$color-logo;
        }
        a{
      
            .blind{
                color:$color-logo;
            }
          
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li{
            margin:0 15px;
            a{
                color:$color-nav;
                font-family: robotoLight;
                font-size:0.9rem; 
                 &:hover{
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    // SELECT
    &__select{
        background-color: transparent;
        font-size:0.8rem;
        font-family: cursive;

        border:none;
        color:#fff;
        option{
            color:#111;
        }
        &:focus{        
            outline: none;
        }
    }
}
.headerNavWhite{
    background: #fff;
    border-bottom: 1px solid #ccc;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 9999;
    transition: all 1.2s;
    &__close{
        display: none;
    }
    &__logo{
        .blind{
            color:$color-logoScroll;
        }
        a{
      
            .blind{
                color:$color-logoScroll;
            }
          
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li{
            margin:0 15px;
            a{
                color:$color-navScroll;
                font-family: robotoLight;
                font-size:0.9rem; 
                font-weight: 500;
                 &:hover{
                    border-bottom: 1px solid #111;
                }
            }
        }
    }
    // SELECT
    &__select{
        background-color: transparent;
        font-size:0.8rem;
        font-family: cursive;

        border:none;
        color:#111;
        option{
            color:#111;
            
        }
        &:focus{        
            outline: none;
        }
    }
    
}
.openNav{
    position: fixed;
    top:20px;
    left:20px;
    z-index: 999;
    color:#6fe4d9;

    // display: none;
    // transform: translateX(0px);
        
   
    & > .MuiSvgIcon-root{
        font-size:2.5rem;
    }

}
@media screen and (max-width:1055px){
    .header{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width:955px){
    .header{
        width: 100%;
        display: flex;
        justify-content: space-around;

        transform: translateX(0px);
        &__logo{
            .blind{
                font-size:1.5rem;
            }
          
        }
        &__nav{   
            li{
                margin:0 15px;
                a{

                    font-size:0.7rem; 
               
                }
            }
        }
        &__select{
            font-size:0.7rem;
        }
    }
    .headerNavWhite{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        transform: translateX(0px);
        &__logo{
            .blind{
                font-size:1.5rem;
            }
          
        }
        &__nav{   
            li{
                margin:0 15px;
                a{

                    font-size:0.7rem; 
               
                }
            }
        }
        &__select{
            font-size:0.6rem;
        }
    }
}
@media screen and (max-width:810px){
    .header{
        display: flex;
        flex-direction: column;
      

        position: fixed;
        left:0px;
        top:0px;
        bottom: 0;

        margin:0px;
        height: 100%;
        width: 280px;
        background-color: #111;
        border-right: 1px solid #ccc;
        &__close{
            display: inline-block;
            & > .MuiSvgIcon-root{
                color:#fff;
            }
        }
        &__nav{
            display: flex;
            flex-direction: column;

            padding:0px;
            li{
                margin: 0px;
            }
        }
    }
    .headerNavWhite{
        display: flex;
        flex-direction: column;
      

        position: fixed;
        left:0px;
        top:0px;
        bottom: 0;

        margin:0px;
        height: 100%;
        width: 280px;
        // background-color: #fff;
        background-color: #fdecbc;
        border-right:1px solid rgb(231, 231, 231);
        &__close{
            display: inline-block;
            & > .MuiSvgIcon-root{
                color:#111;
     
            }
        }
        &__nav{
            display: flex;
            flex-direction: column;

            padding:0px;
            li{
                margin: 0px;
            }
        }
    }
    .openNav{
        display: inline-block;
    }
   
}
@media screen and (max-width:400px) {
    .openNav{
        .MuiSvgIcon-root{
            font-size:2rem;
        }
    }
}